# Pythonのバイトコードファイル
__pycache__/
*.py[cod]
*.py[oc]

# ビルドディレクトリ
build/
dist/
wheels/
*.egg-info/

# Python仮想環境
.venv
venv/
env/
*.venv/

# コンパイルされたファイル
*.so
*.dylib
*.dll

# Jupyter Notebook
.ipynb_checkpoints/

# 環境依存のファイル
*.env
.env

# IDE/エディタの設定ファイル
.idea/
*.swp
*.swo

# 一時ファイル
*.log
*.tmp
*.bak

# デバッグファイル
*.pdb

# OS固有の隠しファイル
.DS_Store
Thumbs.db

# キャッシュファイル
.*_cache
