# すべてのファイルを無視する
*

# ただし, 以下のファイルは無視しない
!*.py
!*.md
!*.txt
!.gitignore
!*.yaml
!.vscode/*
!setup.sh
!setup.cfg

!*/

# Ignore specific directories
AtCoderStudyBooster.egg-info/
build/
venv/
__pycache__/
